<div  class="users-about-us-item col-lg-3 col-md-6 col-xs-12">
  {% include '@workflow-item-title' with { "text": title }  %}
  {% include '@tag-list-item' with { "text": tag }  %}
  {% include '@list-paragraph'  %}
  {% include '@item-logo'  %}
</div>


