<article class="article-post">
  <div class="img-wrapper" >
    {% include '@image-3-2' %}
  </div>
  {% include '@tag-list'  %}
  {% include '@h4'  %}
  {% include '@paragraph' with { "text": paragraph } %}
  {% include '@link' with { "text": linkText ,"url":url } %}
</article>


