.article-post {
  padding-bottom: 32px;
  border-bottom: 1px solid $border-color;

  .img-wrapper {
    margin-bottom: 22px;
  }

  .tag-list {
    margin-bottom: 12px;
  }

  .h4 {
    margin-bottom: 23px;
  }

  .text {
    margin-bottom: 22px;
  }
}
