<div class="accordion-item">
  <input type="checkbox" id="accordion-item-id-{{ id }}" />
  <label for = "accordion-item-id-{{ id }}" class="text-center-mobile" >
    {% include '@h4-with-underline' with { "text": headline }  %}
  </label>
  {% include '@paragraph' with { "text": content}  %}
</div>


