<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.typekit.net/ttl8tsx.css">
  <link media="all" rel="stylesheet" href="{{ '/css/bundle.css'|path }}">
  <title>Preview Layout</title>
</head>

<body>
{% block body %}
  {{ yield }}
{% endblock %}

  <script src="{{ '/js/vendorBundle.js'|path }}"></script>
  <script src="{{ '/js/bundle.js'|path }}"></script>
</body>
</html>
