<div class="input-wrap">
<div class="flex-container align-items-center">
    <div class="col-xs-6">
      <input type="email" name="emailInput" class="emailInput" placeholder="{{ placeholderText }}">
    </div>

    <div class="col-xs-6 justify-content-end">
      {% include '@button-primary'%}
    </div>
  </div>
</div>
