<a href="{{ link }}" class="twitter twitter--primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13">
    <g>
      <g>
        <path
          d="M5.067 12.978C11.11 12.978 14.4 8 14.4 3.644V3.2c.622-.444 1.156-1.067 1.6-1.689a7.379 7.379 0 0 1-1.867.533C14.844 1.6 15.29.978 15.556.267a8.153 8.153 0 0 1-2.045.8A3.175 3.175 0 0 0 11.111 0C9.333 0 7.822 1.511 7.822 3.289c0 .267 0 .533.09.711C5.155 3.822 2.755 2.578 1.155.533.889.978.71 1.6.71 2.223c0 1.155.622 2.133 1.422 2.755-.533 0-1.066-.178-1.51-.445 0 1.6 1.155 2.934 2.666 3.2-.267.09-.533.09-.889.09-.178 0-.444 0-.622-.09.444 1.334 1.6 2.223 3.11 2.311-1.155.89-2.577 1.423-4.088 1.423-.267 0-.533 0-.8-.09 1.422 1.067 3.2 1.6 5.067 1.6" />
      </g>
    </g>
  </svg>
</a>
