<div  class="quote">
  {% include '@paragraph-quote' with {"text": text1}  %}
  {% include '@paragraph-quote' with {"text": text2}  %}
  {% include '@paragraph' with { "text": quote }  %}
</div>


