<div class="stage">
  {% include '@header' %}
  <div class="mask-bg"></div>
  <div class="mask-bottom"></div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="headline push pull">
        {% include '@h1-with-underline' %}
      </div>
    </div>
  </div>
</div>

