<div class="copyright">
  <div class="row">
    <div class="col-md-8 col-xs-12">
        {% include '@tag-list' %}
    </div>
    <div class="col-md-4 col-xs-12 justify-content-end">
        {% include '@share-icons-primary' %}
    </div>
  </div>
</div>
