<div class="glide intro">
  <div class="mask-bottom"></div>
  <div class="mask-bg"></div>
  {% include '@header' %}
  <div data-glide-el="track" class="glide__track">
    <ul class="glide__slides">
        {% for item in slides %}
          <li class="glide__slide">
            {% include '@intro-content-tags' with { "items": item.items, "title":item.title, "btnText": item.btnText,
            "btnUrl": item.btnUrl, "estimate": item.estimate} %}
          </li>
        {% endfor%}
      </ul>
    <div data-glide-el="controls[nav]" class="bullet-wrapper">
      <div class="glide__bullet"></div>
      <div class="glide__bullet"></div>
      <div class="glide__bullet"></div>
    </div>
    <div data-glide-el="controls[nav]">
      <button class="arrow-left-slider glide--rtl" data-glide-dir="<"></button>
      <button class="arrow-right-slider glide--ltr" data-glide-dir=">"></button>
    </div>
    {% include '@share-icons' %}
  </div>
</div>
